
<div class="row">
    <div class="col-md-12">
      <h3>Modifica</h3>
      <hr />
  
      <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label>Title</label>
          <input type="text" class="form-control" formControlName="title" />
        
        <div class="mb-3">
          <label>Description</label>
          <textarea class="form-control" formControlName="description"></textarea>
          
            <div *ngIf="accountForm.get('description')">
              Description is required
            </div>
            <div *ngIf="accountForm.get('description')">
              Description should be minimum 10 characters
            </div>
          </div>
        </div>
  
        <div class="my-3">
          <button type="submit" class="btn btn-primary">Modifica</button>
        </div>
      </form>
    </div>
  </div>