@import "../../theme/theme_common";

.all_wrap {
    background-color: whitesmoke;
    position: relative;
    .wrap1 {

        display: flex;
        justify-content: center;
        flex-direction: column;

        #copyright {
            margin-left: -10px;
            margin-top: 11px;
            margin-bottom: 10px;
            width: 100%;
            font-family: fantasy;
        }

        .colsx {
            display: flex;
            width: 100%;
            flex-direction: column;

            .one {
               
                display: flex;
                justify-content: space-evenly;
                a {
                    font-size: 15px;
                    padding: 7px;
                    cursor: pointer;
                    text-decoration: none;
                    color: black;
                    @media (max-width: 500px) {
                        font-size: 11px;
                    }
                }
                a:hover {
                    color: rgba(236, 24, 24, 0.851);
                }
            }

        }
    }

    .coldx {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 8px;
        width: 100%;
        
        hr {
            width: 100%;
        }

        p {
            font-family: fantasy;
            margin-left: -9px;
            margin-top: 14px;
            @media (max-width: 500px) {
                font-size: 13px;
                
            }
        }

        .icons {
            width: 100%;
            margin-left: -4px;
            .icon1 {
                width: 40px;
                cursor: pointer;

            }
            .icon1:hover {
                transform: scale(1.2);
            }

            .icon2 {
                width: 40px;
                cursor: pointer;
            }
            .icon2:hover {
                transform: scale(1.2);
            }

            .icon3 {
                width: 31px;
                margin: 4px;
                cursor: pointer;
            }
            .icon3:hover {
                transform: scale(1.2);
            }
        }
    }

    // .icon1:hover {
    //     transform: scale(1.5);
    //     height: 20px;
    // }
    // .icon2:hover {
    //     transform: scale(1.5);
    //     height: 20px;
    // }
    // .icon3:hover {
    //     transform: scale(1.5);
    //     height: 20px;
    // }
}


// footer {
//     position: relative;
//     width: 100%;
//     height: 40px;
//     bottom: 0;
//     padding: 0;
//     margin: 0;
//     background-color: $background-color;
//     color: $text-color;
//     text-align: center;
//     font-size: 17px;
//     border-bottom: inset;

//     #copyright {
//         padding: 15px;
//         color: #ffffff;

//     }
// }