.account-cnt {

    margin-top: 150px;

    .account {

        display: inline-block;
        width: auto;
        margin-top: -63px;
    
        h3 {
            font-size: 22px;
            margin-top: 5px;
            color: white;
        }

        form {
            height: 100%;
            width: auto;
            padding: 9px;
            margin: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column;
            border: solid 2px rgb(0, 0, 0);
            background-color: rgb(29 26 26 / 90%);
            border-radius: 22px;

            .form-label {
                color: rgb(255, 255, 255);
                font-size: 14px;
                display: flex;
                flex-direction: column;
            }

            .form-control {
                margin: 15px;
                padding: 10px;
                width: 70%;
            }

        }

    }
}