<mat-nav-list id="custom-navbar" class="sidebar">

    <button (click)="closeButton()" class="closeBtn"> x </button>

    <div id="custom-link">
        <a mat-list-item href="#" routerLink="/home" (click)="onSidenavClose()">
            <mat-icon>home</mat-icon><span class="nav-caption"> Home </span>
        </a>
        <a mat-list-item href="#" routerLink="/form" (click)="onSidenavClose()">
            <mat-icon>portrait</mat-icon><span class="nav-caption"> Form </span>
        </a>
        <a mat-list-item href="#" routerLink="" (click)="onSidenavClose()">
            <mat-icon>folder_open</mat-icon><span class="nav-caption"> Account </span>
        </a>
        <a mat-list-item href="#" routerLink="" (click)="onSidenavClose()">
            <mat-icon>folder</mat-icon><span class="nav-caption"> progetti </span>
        </a>
    </div>

    <div class="wrap">
        <div class="container">
            <button (click)="open()" class="btn">
                <div *ngIf="isOpen" class="countryList">
                    <div *ngFor="let city of languages" class="dynamic">
                        <a (click)="select(city)" class="a">{{city.name}}</a>
                    </div>
                </div>
                <p class="x">Seleziona Lingua</p>
                <p *ngIf="selectedCountry" class="selectedCountry1">{{selectedCountry.name}}</p>
                <div>
                    <p *ngIf="!selectedCountry" class="selectedCountry">Italia </p>
                    <mat-icon class="ico" *ngIf="!isOpen">keyboard_arrow_down</mat-icon>
                    <mat-icon class="ico" *ngIf="isOpen">keyboard_arrow_up</mat-icon>
                </div>
            </button>
        </div>
    </div>
</mat-nav-list>

