<div class="account">

  <div class="accountList">

    <div class="router">
      <router-outlet></router-outlet>
    </div>
    <div class="addAccount">

      <div class="btn">
        <a href="#" class="button" [routerLink]="['/account/add']"> Clicca qui per aggiungere il tuo progetto!</a>
      </div>
      <h3>Progetti Aggiunti -- {{ count | async }} -- </h3>

    </div>

    <div class="table-flex">

      <div class="table" *ngIf="accounts | async as postsData">

        <tbody>
          <tr *ngFor="let account of postsData">
            <h2>id:</h2>
            <td>{{ account.id }}</td>
            <h2>Titolo:</h2>
            <td>{{ account.title }}</td>
            <h2>Descrizione:</h2>
            <td>{{ account.description }}</td>
            <td>

              <!-- <button>
                <a href="" class="btn btn-primary" [routerLink]="['edit', account.id]">Modifica</a>
              </button> -->

              <button class="button" (click)="onDeletePost(account.id)">Cancella</button>
              <button mat-button tabindex="-1" class="button">Dettagli</button>

          <!--     <button class="button">
                <a href="" [routerLink]="['details', account.title]">Dettagli</a>
              </button> -->



            </td>
          </tr>
        </tbody>

      </div>

    </div>

  </div>
</div>