.account {

    margin-top: 50px;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 83vh;

    background: url('../../../assets/account.jpg');
    background-size: cover;
    box-shadow: rgb(0 0 0) 29px 115px 83px -9px inset,
        rgb(0 0 0) 0px 85px 76px -62px inset;


    .accountList {


        .addAccount {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-left: 6px;
            margin-top: 65px;

            h3 {
                color: white;
                margin-top: 30px;
                font-size: 13px;
                font-weight: 500;
                line-height: 1.2;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }

            .btn {
                box-sizing: border-box;
                margin-top: 59px;

             

                a {
                    border-radius: 19px;
                    text-decoration: none;
                    color: white;
                    background-color: black;
                    word-wrap: break-word;

                    @media (max-width: 486px) {
                        font-size: 11px;
                    }

                    @media (max-width: 376px) {
                        font-size: 10px;
                    }

                    @media (max-width: 376px) {
                        font-size: 8px;
                    }

                }
                
            }
            .btn:hover {
                transform: scale(1.040);
                transition-duration: 1.0s;
                transition-duration: 0.4s;
                transition-property: opacity;
            }

            @media (max-width: 610px) {
                margin-top: 0;
                margin-left: 0;
            }

            @media (max-width: 426px) {
                margin-left: 0;
                margin-top: 0;
            }

        }
        
        .table-flex {

    
        .table {
            display: flex;
            justify-content: center;
            align-items: stretch;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            flex: 0 0 auto;

            @media (max-width: 767px) {
                margin-left: 0;
                margin-top: -15px;
            }

                tbody {

                    display: flex;
                    flex-wrap: wrap;
                   /*  justify-content: flex-start; */
                    justify-content: center;
                    flex-direction: row;
                    margin-bottom: 60px;
    
    
                    /* @media (max-width: 425px) {
                        justify-content: center;
                        margin-left: 0;
                    } */
    
    
                    tr {
    
                        border: solid 1px black;
                        margin-top: 10px;
                        width: 175px;
                        margin: 10px;
                        background-color: rgb(255 255 255 / 88%);
                        border-radius: 8px;
    
                        h2 {
                            font-size: 14px;
                            display: flex;
                            flex-direction: column;
                            font-family: fantasy;
                        }
    
                        td {
                            font-size: 11px;
                            display: flex;
                            flex-direction: column;
                            word-wrap: break-word;
                            font-family: monospace;
                        }
    
                        button {
                            background-color: black;
                            color: white;
                            padding: 6px 17px;
                            margin: 8px;
    
                            a {
                                text-decoration: none;
                                color: rgb(255, 255, 255);
                            }
                        }
                    }
    
                }

            }

        }

    }
}