@import "../../theme/theme_common";

.form {
    h1 {
        font-size: 19px;
        color: $text-color;
    }

    display: inline-block;
    width: 300px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 60px;
    
    @media (max-width: $breakpoint2) {
        width: auto;
       
    }
    .form-control.ng-invalid.ng-touched, .ng-invalid.ng-touched.form-select {
        border: 2px solid red;
    }
    form {
        @include border-radius(5px);
        background-color: $background-color;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        border-style: groove;
        .form-control {
            margin: 20px;
           padding: 10px;
        }
    }
}      

