<div class="form">
    <h1> Accedi con le tue credenziali</h1>
    <!-- Assegnamo al form una local varible #f che contiene una reference al nostro form -->
    <form #f="ngForm" [formGroup]="form" (ngSubmit)="save(f.value)">
        <input type="nome" placeholder="nome" class="form-control" name="nome" [formControl]="name">
        <!-- per far si che i validator (required) siano applicati dobbiamo assegnare un attributo ngModel al nostro campo di input. Ng model è una ditrettiva che mette in binding ovvero sintonizza un qualsiasi campo di input checkbox select ecc.. con una proprietà-->
        
        <input type="cognome" placeholder="cognome" class="form-control" name="cognome" minlength="5" [formControl]="surname">
        <button type="submit" class="button" [disabled]="!name.valid || !surname.valid || load ">Invia</button>
        
        <div id="load">
            <mat-progress-spinner *ngIf="load && !access" mode="indeterminate"></mat-progress-spinner> 
        </div>
        
        <div id="access" *ngIf="access">
            <mat-icon>check_circle_outline</mat-icon><p>Accesso eseguito con successo</p>
        </div>
    </form>
</div>

<!--cambiare email e password in nome e cognome, simulare una chiamata a be con set timeout e nel frattempo che la chiamata va a buon fine inserire un loading, una volta terminata mosrtare un messaggio di caricamento avvenuto con successo -->

