$background: #202124;
$background-color: #303134;
$background-color-nav: rgb(0 0 0);
$button-color: #FFDE03;
$hover-color: #FFDE03;
$text-color: #e8eaed;
$text-color-btn: #202124;
$breakpoint1: 870px;
$breakpoint2: 700px;