@import "../theme/theme_common";


mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
   // visibility: collapse;
    height: 100%;
    background-color: #f5f5f7;


    mat-sidenav {
        width: 100%;
        background-color: black;

        @media(min-width: 600px) {
            display: none;

        }
    }
    
}

