<div class="sidebar">
    <input type="text" id="searchbar" placeholder="Cerca..." />
    <button id="searchbutton"> Cerca </button> 
    <ul>
        <li>Naviga nella pagina
            <ul>
                <li>Pagina 1</li>
                <li>Pagina 2</li>
                <li>Pagina 3</li>
                <li>Pagina 4</li>
                <li>Pagina 5</li>
            </ul>
        </li>
        <br>
        <li>Sottopagine
            <ul>
                <li>Pagina 1</li>
                <li>Pagina 2</li>
                <li>Pagina 3</li>
                <li>Pagina 4</li>
            </ul>
        </li>
    </ul>
</div>
