@import "../../theme/theme_colors";
@import "../../theme/theme_mixins";

.sidebar {
    float: right;
    width: 23%;
    margin: 30px 0px;
    //padding-top: 2%;

    #searchbutton {
        background-color: $background-color;
        color: $text-color;
        @include border-radius(5px);
        font-weight: bold;
        padding: 10px 10px;
        margin: 10px;
        cursor: pointer;
    }

    ul li {
        text-align: left;
    }

    li:hover {
        color: rgba(23, 23, 191, 0.796);
    }

}
